<h1>Welcome to the Apartments listing</h1>


<ul>
  <li><a href='/apartments'> Apartment index</a></li>
  <li><a href='/apartments/new'> New Apartment</a></li>
  <br>
  <li><a href='/tenants'> Tenant index</a></li>
  <li><a href='/tenants/new'> New Tenant</a></li>
</ul>

<br><br>
<h1>Welcome to the climbing gym locations</h1>

<ul>
  <li><a href='/locations'> Climbing Gym Locations </a></li>
  <li><a href='/locations/new'>New Location</a></li>
  <br>
  <li><a href='/members'> Gym Members </a></li>
  <li><a href='/members/new'> Add new member </a></li>
</ul>
