<h1>Climbing Gym members</h1>

<% @members.each do |member| %>
  <h3>Primary Member: <%= member.primary_member %></h3>
  <p>Monthly membership? <%= member.monthly_membership %></p>
  <p>Yearly membership? <%= member.yearly_membership %></p>
  <p># of ppl in membership: <%= member.people_in_membership %></p>
<% end %>

<br>
<a href='/members/new'> Add new member </a>

<br><br>
<a href="/locations">Gyms List</a>
