<h2>Enter new apartment info:</h2>

<%  if @apartment.errors.any? %>
  <h3> The following errors prevented the apartment from being saved</h3>
  <ul>
    <% @apartment.errors.full_messages.each do |message|  %>
    <li><%= message %></li>
    <% end  %>
  </ul>
<% end  %>

<form action="/apartments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type='text' name='apartment[name]'/>name<br>
  <input type='number' name='apartment[years_old]'>Years old<br>
  <input type='number' name='apartment[units]'>num of units<br>
  <input type='checkbox' name='apartment[luxury]'>luxury?<br>
  <input type='submit'/>
</form>
<br>

<h3><a href="/apartments"> Cancel and return to Apartments</a></h3>
